<a href="https://colab.research.google.com/github/AithaDhanush/majorproject/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/dataset_PQ.csv")
data.head()

,Mean-d1,Mean-d2,Mean-d3,Mean-d4,Mean-d5,Mean-d6,Mean-d7,Mean-d8,Mean-A8,Std-d1,...,Entropy-d1,Entropy-d2,Entropy-d3,Entropy-d4,Entropy-d5,Entropy-d6,Entropy-d7,Entropy-d8,Entropy-A8,label
0,0.0,0.0000,0.0002,0.0013,0.0053,-0.0104,-0.0690,-0.0492,-0.1842,0.0007,...,0.0186,0.8961,1.9713,3.1010,3.7429,1.6753,1.1614,0.9641,1.9749,Sag
1,0.0,0.0001,0.0004,0.0022,0.0095,0.0105,0.2222,-0.3545,-0.0050,0.0009,...,0.0190,0.8960,1.9720,3.1440,3.7540,1.7750,1.1610,0.9640,1.7230,Sag
2,0.0,0.0001,0.0004,0.0023,0.0059,0.0186,0.2979,-0.7707,-0.0050,0.0009,...,0.0190,0.8830,1.9860,3.2060,3.7590,1.6750,1.3200,0.9640,1.7230,Sag
3,0.0,0.0001,0.0004,0.0023,0.0052,0.0226,0.2448,-0.2980,-0.0050,0.0009,...,0.0180,0.8830,1.9860,3.1670,3.7590,1.6750,1.1610,0.9640,1.7230,Sag
4,0.0,0.0001,0.0004,0.0023,0.0088,0.0198,0.2687,0.2890,-0.0050,0.0009,...,0.0176,0.8832,1.9857,3.2092,3.7918,1.6753,1.1614,1.2327,1.9749,Sag

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(data['label'].unique())

LabelEncoder()

In [ ]:
le.transform(data['label'].unique())

array([ 6,  9,  4,  0,  3, 11,  8, 10,  7,  5,  1, 12,  2])

In [ ]:
classes = dict(zip(le.classes_, le.transform(data['label'].unique())))
classes

{'Flicker': 6,
 'Flicker with Harmonics': 9,
 'Flicker with Sag': 4,
 'Harmonics': 0,
 'Interruption': 3,
 'Interruption with Harmonics': 11,
 'Sag': 8,
 'Sag with Harmonics': 10,
 'Sine wave': 7,
 'Swell': 5,
 'Swell with Harmonics': 1,
 'Transients': 12,
 'flicker with swell': 2}

In [ ]:
data['label'] = data['label'].map(classes)

In [ ]:
data['label'].unique()

array([ 8,  5,  3,  6,  0, 12,  7,  1, 10, 11,  9,  2,  4])

In [ ]:
X_data = data[list(data.columns)[:-1]]
X_data.head()

,Mean-d1,Mean-d2,Mean-d3,Mean-d4,Mean-d5,Mean-d6,Mean-d7,Mean-d8,Mean-A8,Std-d1,...,Skewness-A8,Entropy-d1,Entropy-d2,Entropy-d3,Entropy-d4,Entropy-d5,Entropy-d6,Entropy-d7,Entropy-d8,Entropy-A8
0,0.0,0.0000,0.0002,0.0013,0.0053,-0.0104,-0.0690,-0.0492,-0.1842,0.0007,...,-1.7852,0.0186,0.8961,1.9713,3.1010,3.7429,1.6753,1.1614,0.9641,1.9749
1,0.0,0.0001,0.0004,0.0022,0.0095,0.0105,0.2222,-0.3545,-0.0050,0.0009,...,-1.8270,0.0190,0.8960,1.9720,3.1440,3.7540,1.7750,1.1610,0.9640,1.7230
2,0.0,0.0001,0.0004,0.0023,0.0059,0.0186,0.2979,-0.7707,-0.0050,0.0009,...,264.0310,0.0190,0.8830,1.9860,3.2060,3.7590,1.6750,1.3200,0.9640,1.7230
3,0.0,0.0001,0.0004,0.0023,0.0052,0.0226,0.2448,-0.2980,-0.0050,0.0009,...,-1.5810,0.0180,0.8830,1.9860,3.1670,3.7590,1.6750,1.1610,0.9640,1.7230
4,0.0,0.0001,0.0004,0.0023,0.0088,0.0198,0.2687,0.2890,-0.0050,0.0009,...,-1.8906,0.0176,0.8832,1.9857,3.2092,3.7918,1.6753,1.1614,1.2327,1.9749

In [ ]:
Y_data = data[['label']]
Y_data

     label
0        8
1        8
2        8
3        8
4        8
..     ...
745      4
746      4
747      4
748      4
749      4

[750 rows x 1 columns]

In [ ]:
X_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 72 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Mean-d1      750 non-null    float64
 1   Mean-d2      750 non-null    float64
 2   Mean-d3      750 non-null    float64
 3   Mean-d4      750 non-null    float64
 4   Mean-d5      750 non-null    float64
 5   Mean-d6      750 non-null    float64
 6   Mean-d7      750 non-null    float64
 7   Mean-d8      750 non-null    float64
 8   Mean-A8      750 non-null    float64
 9   Std-d1       750 non-null    float64
 10  Std-d2       750 non-null    float64
 11  Std-d3       750 non-null    float64
 12  Std-d4       750 non-null    float64
 13  Std-d5       750 non-null    float64
 14  Std-d6       750 non-null    float64
 15  Std-d7       750 non-null    float64
 16  Std-d8       750 non-null    float64
 17  Std-A8       750 non-null    float64
 18  Rms-d1       750 non-null    float64
 19  Rms-d2       750 non-null    float64
 20  Rms-d3       750 non-null    float64
 21  Rms-d4       750 non-null    float64
 22  Rms-d5       750 non-null    float64
 23  Rms-d6       750 non-null    float64
 24  Rms-d7       750 non-null    float64
 25  Rms-d8       750 non-null    float64
 26  Rms-A8       750 non-null    float64
 27  Range-d1     750 non-null    float64
 28  Range-d2     750 non-null    float64
 29  Range-d3     750 non-null    float64
 30  Range-d4     750 non-null    float64
 31  Range-d5     750 non-null    float64
 32  Range-d6     750 non-null    float64
 33  Range-d7     750 non-null    float64
 34  Range-d8     750 non-null    float64
 35  Range-A8     750 non-null    float64
 36  Energy-d1    750 non-null    float64
 37  Energy-d2    750 non-null    float64
 38  Energy-d3    750 non-null    float64
 39  Energy-d4    750 non-null    float64
 40  Energy-d5    750 non-null    float64
 41  Energy-d6    750 non-null    float64
 42  Energy-d7    750 non-null    float64
 43  Energy-d8    750 non-null    float64
 44  Energy-A8    750 non-null    float64
 45  Kurtosis-d1  750 non-null    float64
 46  Kurtosis-d2  750 non-null    float64
 47  Kurtosis-d3  750 non-null    float64
 48  Kurtosis-d4  750 non-null    float64
 49  Kurtosis-d5  750 non-null    float64
 50  Kurtosis-d6  750 non-null    float64
 51  Kurtosis-d7  750 non-null    float64
 52  Kurtosis-d8  750 non-null    float64
 53  Kurtosis-A8  750 non-null    float64
 54  Skewness-d1  750 non-null    float64
 55  Skewness-d2  750 non-null    float64
 56  Skewness-d3  750 non-null    float64
 57  Skewness-d4  750 non-null    float64
 58  Skewness-d5  750 non-null    float64
 59  Skewness-d6  750 non-null    float64
 60  Skewness-d7  750 non-null    float64
 61  Skewness-d8  750 non-null    float64
 62  Skewness-A8  750 non-null    float64
 63  Entropy-d1   750 non-null    float64
 64  Entropy-d2   750 non-null    float64
 65  Entropy-d3   750 non-null    float64
 66  Entropy-d4   750 non-null    float64
 67  Entropy-d5   750 non-null    float64
 68  Entropy-d6   750 non-null    float64
 69  Entropy-d7   750 non-null    float64
 70  Entropy-d8   750 non-null    float64
 71  Entropy-A8   750 non-null    float64
dtypes: float64(72)
memory usage: 422.0 KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaled_X_data = scaler.fit_transform(X_data)

In [ ]:
scaled_X_data_df = pd.DataFrame(scaled_X_data, columns=X_data.columns)
scaled_X_data_df.head()

,Mean-d1,Mean-d2,Mean-d3,Mean-d4,Mean-d5,Mean-d6,Mean-d7,Mean-d8,Mean-A8,Std-d1,...,Skewness-A8,Entropy-d1,Entropy-d2,Entropy-d3,Entropy-d4,Entropy-d5,Entropy-d6,Entropy-d7,Entropy-d8,Entropy-A8
0,0.795587,0.000759,0.067266,0.007977,0.365696,0.064661,0.069091,0.220486,0.004224,0.000179,...,0.002262,0.002199,0.022079,0.075781,0.273475,0.771322,0.314076,0.209859,0.128258,0.811647
1,0.795587,0.000868,0.067355,0.008246,0.366396,0.074738,0.175206,0.161215,0.015307,0.000230,...,0.002105,0.002341,0.022048,0.076009,0.289769,0.776189,0.395430,0.209347,0.128143,0.708121
2,0.795587,0.000868,0.067355,0.008276,0.365796,0.078644,0.202791,0.080413,0.015307,0.000230,...,1.000000,0.002341,0.018045,0.080568,0.313263,0.778382,0.313831,0.412932,0.128143,0.708121
3,0.795587,0.000868,0.067355,0.008276,0.365679,0.080573,0.183441,0.172184,0.015307,0.000230,...,0.003029,0.001987,0.018045,0.080568,0.298484,0.778382,0.313831,0.209347,0.128143,0.708121
4,0.795587,0.000868,0.067355,0.008276,0.366279,0.079223,0.192151,0.286144,0.015307,0.000230,...,0.001867,0.001845,0.018107,0.080470,0.314475,0.792765,0.314076,0.209859,0.436675,0.811647

In [ ]:
scaled_X_data_df.shape, Y_data.shape

((750, 72), (750, 1))

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(scaled_X_data_df, Y_data, random_state=42, test_size=0.1)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((675, 72), (75, 72), (675, 1), (75, 1))

In [ ]:
X_train = X_train.sort_index()
X_test = X_test.sort_index()
y_train = y_train.sort_index()
y_test = y_test.sort_index()

In [ ]:
y_test

     label
10       8
33       8
39       8
54       8
65       5
..     ...
708      4
716      4
736      4
740      4
746      4

[75 rows x 1 columns]

In [ ]:
X_test

,Mean-d1,Mean-d2,Mean-d3,Mean-d4,Mean-d5,Mean-d6,Mean-d7,Mean-d8,Mean-A8,Std-d1,...,Skewness-A8,Entropy-d1,Entropy-d2,Entropy-d3,Entropy-d4,Entropy-d5,Entropy-d6,Entropy-d7,Entropy-d8,Entropy-A8
10,0.795587,0.000868,0.067355,0.008276,0.366013,0.074738,0.219627,0.178668,0.015313,0.000230,...,0.001920,0.002199,0.009515,0.085681,0.303903,0.764438,0.314076,0.413060,0.128258,0.900707
33,0.795587,0.000868,0.067355,0.008276,0.365496,0.083080,0.179834,0.164457,0.015307,0.000255,...,0.003510,0.002199,0.016875,0.090598,0.296741,0.764438,0.314076,0.413060,0.128258,0.708244
39,0.795587,0.000868,0.067355,0.008455,0.366479,0.080042,0.137526,0.324468,0.015307,0.000230,...,0.001557,0.002199,0.010131,0.094995,0.317128,0.780838,0.613545,0.209859,0.128258,0.900707
54,0.795587,0.000868,0.067355,0.008485,0.366546,0.080766,0.128635,0.347260,0.015307,0.000255,...,0.001550,0.002199,0.010131,0.079689,0.323873,0.767025,0.588413,0.209859,0.128258,0.900707
65,0.795587,0.000759,0.067266,0.007857,0.365596,0.067747,0.065593,0.159797,0.004224,0.000179,...,0.003587,0.001845,0.030086,0.116130,0.321637,0.738610,0.314076,0.209859,0.128258,0.900707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,0.795587,0.000759,0.067222,0.007827,0.367029,0.065866,0.060054,0.175232,0.005962,0.000867,...,0.003339,0.382192,0.503018,0.530791,0.736415,0.696426,0.301428,0.413060,0.128258,0.708244
716,0.795587,0.000759,0.067222,0.007947,0.364646,0.069193,0.050288,0.153643,0.004589,0.001990,...,0.003156,0.611813,0.689967,0.792621,0.544865,0.516860,0.631824,0.413060,0.128258,0.601184
736,0.795587,0.000759,0.067222,0.008425,0.366429,0.067072,0.043510,0.154342,0.005894,0.005103,...,0.002504,0.871479,0.870635,0.820888,0.284009,0.683096,0.627173,0.416517,0.128258,0.811647
740,0.795587,0.000759,0.067178,0.008126,0.364080,0.062732,0.061730,0.234444,0.004898,0.003572,...,0.002390,0.758389,0.809386,0.904973,0.294051,0.154440,0.855324,1.000000,0.700884,0.900707
746,0.795587,0.000759,0.067178,0.008007,0.363547,0.072376,0.037352,0.124464,0.004960,0.003980,...,0.004710,0.790138,0.837993,0.937018,0.252709,0.028327,0.982456,0.598592,0.324492,0.708244

In [ ]:
y_train

     label
0        8
1        8
2        8
3        8
4        8
..     ...
744      4
745      4
747      4
748      4
749      4

[675 rows x 1 columns]

In [ ]:
y_train.to_excel(r'/content/y_train.xlsx',index=False)

In [ ]:
y_test.to_excel(r'/content/y_test.xlsx',index=False)

In [ ]:
import pickle

exporte_data = {
    'dataset' : data,
    'scaled_X_data_df' : scaled_X_data_df,
    'y_data' : Y_data,
    'X_train' : X_train,
    'X_test' : X_test,
    'y_train' : y_train,
    'y_test' : y_test,
    'classes' : classes,
    'x_train_idx' : X_train.index,
    'y_train_idx' : y_train.index,
    'x_test_idx' : X_test.index,
    'y_test_idx' : y_test.index,
    'metadata' : {
        'test_size' : 0.1,
        'random_state' : 42
    }
}

with open('pq_data_preprocessing.pkl', 'wb') as f:
    pickle.dump(exporte_data, f)

In [ ]:
with open('pq_data_preprocessing.pkl', 'rb') as f:
  pq_data = pickle.load(f)

In [ ]:
pq_data.keys()

dict_keys(['dataset', 'scaled_X_data_df', 'y_data', 'X_train', 'X_test', 'y_train', 'y_test', 'classes', 'x_train_idx', 'y_train_idx', 'x_test_idx', 'y_test_idx', 'metadata'])

In [ ]:
pq_data['X_train']

,Mean-d1,Mean-d2,Mean-d3,Mean-d4,Mean-d5,Mean-d6,Mean-d7,Mean-d8,Mean-A8,Std-d1,...,Skewness-A8,Entropy-d1,Entropy-d2,Entropy-d3,Entropy-d4,Entropy-d5,Entropy-d6,Entropy-d7,Entropy-d8,Entropy-A8
0,0.795587,0.000759,0.067266,0.007977,0.365696,0.064661,0.069091,0.220486,0.004224,0.000179,...,0.002262,0.002199,0.022079,0.075781,0.273475,0.771322,0.314076,0.209859,0.128258,0.811647
1,0.795587,0.000868,0.067355,0.008246,0.366396,0.074738,0.175206,0.161215,0.015307,0.000230,...,0.002105,0.002341,0.022048,0.076009,0.289769,0.776189,0.395430,0.209347,0.128143,0.708121
2,0.795587,0.000868,0.067355,0.008276,0.365796,0.078644,0.202791,0.080413,0.015307,0.000230,...,1.000000,0.002341,0.018045,0.080568,0.313263,0.778382,0.313831,0.412932,0.128143,0.708121
3,0.795587,0.000868,0.067355,0.008276,0.365679,0.080573,0.183441,0.172184,0.015307,0.000230,...,0.003029,0.001987,0.018045,0.080568,0.298484,0.778382,0.313831,0.209347,0.128143,0.708121
4,0.795587,0.000868,0.067355,0.008276,0.366279,0.079223,0.192151,0.286144,0.015307,0.000230,...,0.001867,0.001845,0.018107,0.080470,0.314475,0.792765,0.314076,0.209859,0.436675,0.811647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
744,0.795587,0.000759,0.067178,0.007798,0.369811,0.062925,0.017892,0.312023,0.008565,0.002143,...,0.002544,0.624299,0.709183,0.766568,0.426677,0.342469,0.218686,0.808451,0.169480,0.717080
745,0.795587,0.000759,0.067178,0.007798,0.365513,0.064275,0.099920,0.157739,0.006976,0.002985,...,0.003381,0.731110,0.781487,0.844205,0.086965,0.163517,0.661281,0.598592,0.700884,0.506617
747,0.795587,0.000759,0.067178,0.008246,0.367212,0.075365,0.081882,0.183910,0.005962,0.005103,...,0.002407,0.886839,0.900782,0.981503,0.408981,0.415216,0.570787,0.808451,0.700884,0.708244
748,0.795587,0.000759,0.067222,0.008544,0.366129,0.075606,0.056264,0.240618,0.006314,0.006379,...,0.002144,0.936254,0.916857,0.801316,0.314058,0.584389,1.000000,0.598592,1.000000,0.811647
749,0.795587,0.000759,0.067222,0.009082,0.365679,0.066638,0.054697,0.213691,0.006376,0.007782,...,0.001742,0.998971,0.999600,0.759143,0.008602,0.763692,0.439657,0.619718,0.392468,0.708244

In [ ]:
pq_data['y_train']

     label
0        8
1        8
2        8
3        8
4        8
..     ...
744      4
745      4
747      4
748      4
749      4

[675 rows x 1 columns]

In [ ]:
pq_data['y_test']

     label
10       8
33       8
39       8
54       8
65       5
..     ...
708      4
716      4
736      4
740      4
746      4

[75 rows x 1 columns]

In [ ]:
pq_data['y_test'].to_excel('y_test_autoencoder.xlsx')
pq_data['y_train'].to_excel('y_train_autoencoder.xlsx')

In [ ]:
pq_data['metadata']

{'test_size': 0.1, 'random_state': 42}